@mixin flex-space-between-row-center {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

@mixin flex-space-between-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@mixin flex-space-between-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
