<div class="card-content">
  <div class="card-content__description">
    <div class="card-content__description__title">
      Phillip Lane, London, N15
    </div>
    <div class="card-content__description__subtitle">
      <span class="card-content__description__subtitle__type">Apartment</span> · 1 bed room · 1 bath
    </div>
  </div>
  <div class="card-content__price">
    <div class="card-content__price__amount">
      <div>
        USD
      </div>
      <div>
        120.000
      </div>
    </div>
    <div class="card-content__price__term">
      Each month
    </div>
  </div>
</div>
