<div class="home">
  <div class="home__search">
    <app-search></app-search>
  </div>
  <div class="home__extra">
    <div class="home__extra__metadata">
      Showing 380 results
    </div>
    <div class="home__extra__actions">
<!--      <button (click)="openFilter()" class="home__extra__actions__button">-->
<!--        Filters-->
<!--        <mat-icon>-->
<!--          filter_list-->
<!--        </mat-icon>-->
<!--      </button>-->
      <button (click)="openMap()" class="home__extra__actions__button">
        Map
        <mat-icon>
          map
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="home__cards">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
</div>

